/* Base Styles */

:root {
    background: white;
    color: black;
    font-family: sans-serif;
    /* Normalization */
    line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/* Unofficial Notice Banner Styles */

header {
    background: red;
}

/* Navbar Styles */

nav {
    display: flex;
    justify-content: space-evenly;
}
