/* Base Styles */

:root {
    /* Color Scheme Variables */
    --base: white;
    --text: black;
    --charcoal: #242424;
    --text-on-charcoal: white;
    --alert: red;
    
    /* Basic Styles */
    background: var(--base);
    color: var(--text);
    font-family: sans-serif;
    
    /* Normalization */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/* Unofficial Notice Banner Styles */

header {
    background: var(--alert);
}

/* Navbar Styles */

nav {
    background: var(--charcoal);
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
}

nav > a {
    color: var(--text-on-charcoal);
    margin: 1rem 0.9rem 1rem 0.9rem;
    text-decoration: none;
    font-weight: bold;
}
