/* Base Styles */

:root {
    /* Color Scheme Variables */
    --base: white;
    --text: black;
    --charcoal: #242424;
    --text-on-charcoal: white;
    --alert: #951010;
    --text-on-alert: white;
    --rich-red: #d2252d;
    --light-red: #fc2f3a;
    
    /* Basic Styles */
    background: var(--base);
    color: var(--text);
    font-family: sans-serif;
    scroll-behavior: smooth;
    
    /* Normalization */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    /* Normalization */
    margin: 0;
}

/* Unofficial Notice Banner Styles */

header {
    background: var(--alert);
    color: var(--text-on-alert);
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

/* Navbar Styles */

nav {
    background: var(--charcoal);
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
    padding-right: 30%;
}

nav > a {
    color: var(--text-on-charcoal);
    margin: 1rem 0.9rem 1rem 0.9rem;
}

/* Content Styles */

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 60rem;
}

/* Footer Styles */

footer {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    filter: brightness(25%);
    font-size: smaller;
}

/* General Text Styles */

a {
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: var(--rich-red);
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

button:hover {
    background-color: var(--light-red);
}

.bold {
    font-weight: bold;
}

.larger {
    font-size: larger;
}
